/* Style for the sidebar header */
.menu-title {
  letter-spacing: .05em;
  cursor: default;
  font-size: 11px;
  text-transform: uppercase;
  color: #cfd3d3f0;
  font-weight: 600;
}
.menu-title span {
  padding: 12px 20px;
  display: inline-block;
}

 .nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0.625rem 1.5rem;
  color: #cfd3d3f0;;
  font-size: .9375rem;
  font-family: hkgrotesk,sans-serif;
}
.nav-sm .nav-link{
  font-size: .813rem;
  padding: 0.55rem 1.5rem!important
}
/* Hover effect for sidebar links */

.nav-link:hover {
  color: #ffffff; /* Change text color on hover to white (#ffffff) */
}

/* Active link styles */
.nav-link:active {
  color: #ffffff; /* Change text color for active state to white */
}
.nav-link:focus, .nav-link:hover {
  color: #ffffff;
}

a:hover {
  color: #ffffff;
}
 .nav-sm {
  padding-left: 1.75rem;
}
.flex-column {
  -webkit-box-orient: vertical!important;
  -webkit-box-direction: normal!important;
  -ms-flex-direction: column!important;
  flex-direction: column!important;
}

.bullet {
  margin-right : 5px;
  font-size: 1.05rem;
}
 .nav-link .badge {
  margin-left: auto;
  margin-right: -2px;
  z-index: 1;
}
.svg-end{
  padding: 0 10px;
}

/* Media query for responsiveness */
@media screen and (max-width: 768px) {
  .sidebar {
    width: 100%;
  }
}
